<a href="https://colab.research.google.com/github/Erangoud/Python/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to convert a list of numeric value into a one-dimensional
NumPy array.
Expected Output:
Original List: [12.23, 13.32, 100, 36.32]
One-dimensional numpy array: [ 12.23 13.32 100. 36.32]

In [1]:
import numpy as np
list1=[12.23,13.32,100,36.32]
arr = np.array(list1)
print("one dimensional numpy array : ",arr)

one dimensional numpy array :  [ 12.23  13.32 100.    36.32]

2. Create a 3x3 matrix with values ranging from 2 to 10.
Expected Output:
[[ 2 3 4]
[ 5 6 7]
[ 8 9 10]]

In [2]:
arr = np.array([2,3,4,5,6,7,8,9,10])
mat = arr.reshape(3,3)
print(mat)

[[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]

3. Write a Python program to create a null vector of size 10 and update sixth value to 11.
[ 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Update sixth value to 11
[ 0. 0. 0. 0. 0. 0. 11. 0. 0. 0.]

In [3]:
arr=np.zeros(10)
print(arr)
arr[6]=11
print(arr)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[ 0.  0.  0.  0.  0.  0. 11.  0.  0.  0.]

4. Write a Python program to reverse an array (first element becomes last).
Original array:
[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37]
Reverse array:
[37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12]

In [4]:
arr = np.array([12 ,13, 14, 15 ,16 ,17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37])
print(arr)
reverse_arr = arr[::-1]
print(reverse_arr)

[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37]
[37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14
 13 12]

5. Write a Python program to create a 2d array with 1 on the border and 0 inside.
Expected Output:
Original array:
[[ 1. 1. 1. 1. 1.]
[ 1. 1. 1. 1. 1.]
[ 1. 1. 1. 1. 1.]
[ 1. 1. 1. 1. 1.]
[ 1. 1. 1. 1. 1.]]
1 on the border and 0 inside in the array
[[ 1. 1. 1. 1. 1.]
[ 1. 0. 0. 0. 1.]
[ 1. 0. 0. 0. 1.]
[ 1. 0. 0. 0. 1.]
[ 1. 1. 1. 1. 1.]]

In [5]:
arr = np.ones((5,5))
print(arr)
arr[1:-1,1:-1]=0
print(arr)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

6. Write a Python program to add a border (filled with 0's) around an existing array.
Expected Output:
Original array:
[[ 1. 1. 1.]
[ 1. 1. 1.]
[ 1. 1. 1.]]
1 on the border and 0 inside in the array
[[ 0. 0. 0. 0. 0.]
[ 0. 1. 1. 1. 0.]
[ 0. 1. 1. 1. 0.]
[ 0. 1. 1. 1. 0.]
[ 0. 0. 0. 0. 0.]]

In [6]:
arr = np.ones((3,3))
print(arr)
border_arr = np.pad(arr,pad_width=1,mode='constant',constant_values=0)
border_arr2 =np.pad(arr,pad_width=((2,2),(2,2)),mode="constant",constant_values=0) # we can custom the width
print("\n",border_arr2)
print("\n",border_arr)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

 [[0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 1. 1. 1. 0. 0.]
 [0. 0. 1. 1. 1. 0. 0.]
 [0. 0. 1. 1. 1. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]]

 [[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

7. Write a Python program to create a 8x8 matrix and fill it with a checkerboard pattern.
Checkerboard pattern:
[[0 1 0 1 0 1 0 1]
[1 0 1 0 1 0 1 0]
[0 1 0 1 0 1 0 1]
[1 0 1 0 1 0 1 0]
[0 1 0 1 0 1 0 1]
[1 0 1 0 1 0 1 0]
[0 1 0 1 0 1 0 1]
[1 0 1 0 1 0 1 0]]

In [7]:
arr = np.zeros((8,8))
print(arr)
arr[::2, 1::2] =1
arr[1::2, ::2]=1
print("\n",arr)

[[0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]]

 [[0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]]

8. Write a Python program to convert a list and tuple into arrays.
List to array:
[1 2 3 4 5 6 7 8]
Tuple to array:
[[8 4 6]
[1 2 3]]

In [8]:
list1=[1,2,3,4,5,6,7,8]
arr = np.array(list1)
print("A list to an Array\n",arr)
Tuple1=((8,4,6),(1,2,3))
arr1 = np.array(Tuple1)
print("A tuple to array\n",arr1)

A list to an Array
 [1 2 3 4 5 6 7 8]
A tuple to array
 [[8 4 6]
 [1 2 3]]

9. Write a Python program to append values to the end of an array.
Expected Output:
Original array:
[10, 20, 30]
After append values to the end of the array:
[10 20 30 40 50 60 70 80 90]

In [9]:
arr = np.array([10,20,30])
values = [40,50,60,70]
arr = np.append(arr,values)
# arr1 = np.concatenate(arr,values) use values_to_append = np.array([40, 50, 60, 70, 80, 90])
print(arr)

[10 20 30 40 50 60 70]

10. Write a Python program to find the real and imaginary parts of an array of complex
numbers.
Expected Output:
Original array [ 1.00000000+0.j 0.70710678+0.70710678j]
Real part of the array:
[ 1. 0.70710678]
Imaginary part of the array:
[ 0. 0.70710678]

In [10]:
arr = np.array([1.00000000+0.j ,0.70710678+0.70710678j])
real_arr = np.real(arr)
img_arr = np.imag(arr)
print(arr)
print("The real part of array :",real_arr)
print("The img part of array :",img_arr)

[1.        +0.j         0.70710678+0.70710678j]
The real part of array : [1.         0.70710678]
The img part of array : [0.         0.70710678]

11. Write a Python program to find the number of elements of an array, length of one
array element in bytes and total bytes consumed by the elements.
Expected Output:
Size of the array: 3
Length of one array element in bytes: 8
Total bytes consumed by the elements of the array: 24

In [11]:
arr = np.array([10,20,30])
print("this is an array",arr)
print("Size of an array : ",arr.size)
print("Length of one array element in bytes :",arr.itemsize)
print("Total bytes consumed by the elements :",arr.nbytes)

this is an array [10 20 30]
Size of an array :  3
Length of one array element in bytes : 8
Total bytes consumed by the elements : 24

12. Write a Python program to find common values between two arrays.
Expected Output:
Array1: [ 0 10 20 40 60]
Array2: [10, 30, 40]
Common values between two arrays:
[10 40]

In [12]:
arr1 = np.array([0,10,20,40,60])
arr2 = np.array([10,30,40])

# intersect1d used to find the common elements between two arrays
common_value = np.intersect1d(arr1,arr2)
print(common_value)

[10 40]

13. Write a Python program to find the set difference of two arrays. The set difference
will return the sorted, unique values in array1 that are not in array2.
Expected Output:
Array1: [ 0 10 20 40 60 80]
Array2: [10, 30, 40, 50, 70, 90]
Set difference between two arrays:
[ 0 20 60 80]

In [13]:
arr1 = np.array ([0,10,20,40,60,80])
arr2 = np.array([10,30,40,50,70,90])
unique_arr = np.setdiff1d(arr1,arr2)
print("the unique elements which are not in 2nd array : ",unique_arr)

the unique elements which are not in 2nd array :  [ 0 20 60 80]

14. Write a Python program to find the set exclusive-or of two arrays. Set exclusive-or
will return the sorted, unique values that are in only one (not both) of the input arrays.
Array1: [ 0 10 20 40 60 80]
Array2: [10, 30, 40, 50, 70]
Unique values that are in only one (not both) of the input arrays:
[ 0 20 30 50 60 70 80]

In [14]:
arr1 = np.array([0,10,20,40,60,80])
arr2 = np.array([10,30,40,50,70])
set_exclusive = np.setxor1d(arr1,arr2)
print(set_exclusive)

[ 0 20 30 50 60 70 80]

15. Write a Python program compare two arrays using numpy.
Array a: [1 2]
Array b: [4 5]
a > b
[False False]
a >= b
[False False]
a < b
[ True True]
a <= b
[ True True]

In [15]:
a = np.array([1,2])
b = np.array([4,5])
print("greater than a>b : ",a>b)
print("lesser than a<b : ",a<b)
print("greater than or equals a>=b:",a>=b)
print("lesser than or equal a<=b :",a<=b)

greater than a>b :  [False False]
lesser than a<b :  [ True  True]
greater than or equals a>=b: [False False]
lesser than or equal a<=b : [ True  True]

15. Write a Python program to save a NumPy array to a text file.

In [16]:
# import json
# arr = np.array([1,2,3,4,5])
# arr_list = arr.tolist()    # we have convert the array to list to dump in json file
# with open("array.txt","w") as file :
#   json.dump(arr_list,file)


arr = np.array([1,2,3,4,5])
np.savetxt("array.txt",arr)
print("array is saved in a file")

array is saved in a file

16. Write a Python program to create a contiguous flattened array.
Original array:
[[10 20 30]
[20 40 50]]
New flattened array:
[10 20 30 20 40 50]

In [17]:
arr1 = np.array([[10,20,30],[20,40,50]])

flattend_array=arr1.flatten()
print(flattend_array)

#Makinig the multi dimensional array into 1D array

[10 20 30 20 40 50]

17. Write a Python program to change the data type of an array.
Expected Output:
[[ 2 4 6]
[ 6 8 10]]
Data type of the array x is: int32
New Type: float64
[[ 2. 4. 6.]
[ 6. 8. 10.]]

In [18]:
arr1 = np.array([[2,4,6],[6,8,10]])
print(arr.dtype)
arr2 = arr1.astype(np.float32)
print(arr2.dtype)
print(arr2)

int64
float32
[[ 2.  4.  6.]
 [ 6.  8. 10.]]

18. Write a Python program to create a 3-D array with ones on a diagonal and zeros
elsewhere.
Expected Output:
[[ 1. 0. 0.]
[ 0. 1. 0.]
[ 0. 0. 1.]]

In [19]:
arr = np.zeros((3,3))
print(arr)
# arr[0:1,0:1]=1
np.fill_diagonal(arr,1)
# print(np.eye(3))  arr = np.eye(3)
print("\n",arr)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

 [[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

19. Write a Python program to create an array which looks like below array.
Expected Output:
[[ 0. 0. 0.]
[ 1. 0. 0.]
[ 1. 1. 0.]
[ 1. 1. 1.]]

In [30]:
# work on this problem
arr = np.zeros((4,3))
print(arr)

arr[1:,0] = arr[2:,1] = arr [-1,-1] =1
print(arr)

print(np.tri(4,3,-1))

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[[0. 0. 0.]
 [1. 0. 0.]
 [1. 1. 0.]
 [1. 1. 1.]]
[[0. 0. 0.]
 [1. 0. 0.]
 [1. 1. 0.]
 [1. 1. 1.]]

20. Write a Python program to concatenate two 2-dimensional arrays.
Expected Output:
Sample arrays: ([[0, 1, 3], [5, 7, 9]], [[0, 2, 4], [6, 8, 10]]
Expected Output:
[[ 0 1 3 0 2 4]
[ 5 7 9 6 8 10]]

In [21]:
arr1 = np.array([[0,1,3],[5,7,9]])
arr2 = np.array([[0,2,4],[6,8,10]])

arr3 = np.concatenate((arr1,arr2),axis=1)
print(arr3)
# a = np.array([1,2,3])
# b=np.array([4,5,6])
# c= np.concatenate((a,b))
# print(c)

[[ 0  1  3  0  2  4]
 [ 5  7  9  6  8 10]]

21. Write a Python program to make an array immutable (read-only).
Expected Output:
Test the array is read-only or not:
Try to change the value of the first element:
Traceback (most recent call last):
File "19236bd0-0bd9-11e7-a232-c706d0968eb6.py", line 6, in
x[0] = 1
ValueError: assignment destination is read-only

In [32]:
arr = np.array([1,2,3,4,5])
arr.flags.writeable = False
try :
  arr[1]=10
except ValueError as e :
  print(e)
print(arr)

assignment destination is read-only
[1 2 3 4 5]

22. Write a Python program to create an array of (3, 4) shape, multiply every element
value by 3 and display the new array.
Expected Output:
Original array elements:
[[ 0 1 2 3]
[ 4 5 6 7]
[ 8 9 10 11]]
New array elements:
[[ 0 3 6 9]
[12 15 18 21]
[24 27 30 33]]

In [34]:
arr = np.array([[0,1,2,3],
                [4,5,6,7],
                [ 8,9,10,11]])
print(arr*3)

[[ 0  3  6  9]
 [12 15 18 21]
 [24 27 30 33]]

23. Write a Python program to convert a NumPy array into Python list structure.
Expected Output:
Original array elements:
[[0 1]
[2 3]
[4 5]]
Array to list:
[[0, 1], [2, 3], [4, 5]]

In [36]:
arr = np.array([[[0,1],
                [2,3],
                [4,5]]])

list1 = arr.tolist()
print(list1)

[[[0, 1], [2, 3], [4, 5]]]

24. Write a Python program to convert a NumPy array into Python list structure.
Expected Output:
Original array elements:
[ 0.26153123 0.52760141 0.5718299 0.5927067 0.7831874 0.69746349
0.35399976 0.99469633 0.0694458 0.54711478]
Print array values with precision 3:
[ 0.262 0.528 0.572 0.593 0.783 0.697 0.354 0.995 0.069 0.547]

In [39]:
arr = np.array([[0.26153123,0.52760141,0.5718299,0.5927067,0.7831874,0.69746349,0.35399976,0.99469633,0.0694458,0.54711478]])
list1 = arr.tolist()
print(list1)

[[0.26153123, 0.52760141, 0.5718299, 0.5927067, 0.7831874, 0.69746349, 0.35399976, 0.99469633, 0.0694458, 0.54711478]]

25. Write a Python program to suppresses the use of scientific notation for small
numbers in numpy array.
Expected Output:
Original array elements:
[ 1.60000000e-10 1.60000000e+00 1.20000000e+03 2.35000000e-01]
Print array values with precision 3:
[ 0. 1.6 1200. 0.235]

In [45]:
arr = np.array([ 1.60000000e-10 ,1.60000000e+00 ,1.20000000e+03 ,2.35000000e-01])
np.set_printoptions(suppress="True",precision=3)
print(arr)

[   0.       1.6   1200.       0.235]

26. Write a Python program to how to add an extra column to an numpy array.
Expected Output:
[[ 10 20 30 100]
[ 40 50 60 200]]

In [51]:
arr = np.array([[10,20,30],[40,50,60]])
values = np.array([[100],[200]])
arr = np.append(arr,values,axis=1)
print(arr)

[[ 10  20  30 100]
 [ 40  50  60 200]]

27. Write a Python program to remove specific elements in a numpy array.
Expected Output:
Original array:
[ 10 20 30 40 50 60 70 80 90 100]
Delete first, fourth and fifth elements:
[ 20 30 60 70 80 90 100]

In [54]:
arr = np.array([10,20,30,40,50,60,70,80,90,100])
delete = [0,3,4]
arr = np.delete(arr,delete)
print(arr)

[ 20  30  60  70  80  90 100]